In [1]:
# Artificial Neural Networks

In [2]:
# Importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importing the dataset
data = pd.read_csv("Churn_Modelling.csv")

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [6]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
# Importing the Keras libraries and packages
import keras

Using TensorFlow backend.

In [10]:
from keras.models import Sequential
from keras.layers import Dense

In [11]:
# Initializing the ANN
classifier = Sequential()

In [12]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

In [13]:
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

In [14]:
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [15]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
# Fitting the ANN to the training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 10)

F:\Installed\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/10
8000/8000 [==============================] - 3s 377us/step - loss: 0.4848 - acc: 0.7952
Epoch 2/10
8000/8000 [==============================] - ETA: 0s - loss: 0.4276 - acc: 0.795 - 2s 238us/step - loss: 0.4270 - acc: 0.7960
Epoch 3/10
8000/8000 [==============================] - 2s 262us/step - loss: 0.4219 - acc: 0.7966 0s - loss: 0.4247 -
Epoch 4/10
8000/8000 [==============================] - 2s 257us/step - loss: 0.4181 - acc: 0.8226
Epoch 5/10
8000/8000 [==============================] - 2s 264us/step - loss: 0.4155 - acc: 0.8271
Epoch 6/10
8000/8000 [==============================] - 2s 265us/step - loss: 0.4143 - acc: 0.8300
Epoch 7/10
8000/8000 [==============================] - 2s 265us/step - loss: 0.4128 - acc: 0.8320
Epoch 8/10
8000/8000 [==============================] - 2s 255us/step - loss: 0.4115 - acc: 0.8316
Epoch 9/10
8000/8000 [==============================] - 2s 268us/step - loss: 0.4102 - acc: 0.8325
Epoch 10/10
8000/8000 [==============================] - 2s 255us/step - loss: 0.4105 - acc: 0.8322

In [17]:
# Predicting the test set result
y_pred = classifier.predict(X_test)

In [18]:
y_pred

array([[0.27319074],
       [0.3325413 ],
       [0.20130357],
       ...,
       [0.17760246],
       [0.14517148],
       [0.15366076]], dtype=float32)

In [19]:
y_pred = (y_pred>0.5)

In [20]:
# Making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [21]:
print(cm)

[[1556   39]
 [ 280  125]]

In [22]:
from sklearn.metrics import accuracy_score
print("Accuracy of the ANN is:",accuracy_score(y_test, y_pred)*100)

Accuracy of the ANN is: 84.05